/* Responsive */

@media (max-width:1658px) {

    .message {
        width: 28%;
        height: 100%;
    }

}

@media (max-width:1421px) {

    .message {
        width: 32%;
    }
    
}

@media (max-width:1258px) {

    .message {
        width: 36%;
    }

}

@media (max-width:1354px) {

    .btn__container {
        display: flex ;
    }

}

@media (max-width:1123px) {

    .message {
        width: 38%;
    }

}

@media (max-width:1085px) {

    .app__text {
        height: 1000px;
    }
    
    .app__buttons {
        width: 100%;
        height: 400px;
        margin: 0 auto;
        color: var(--grayColor);
        font-family: var(--roboto);
    }
    
    .btn__container {
        display: flex;
        justify-content: space-evenly;
    }

    .btn {
        padding: 1.375rem 9rem;
    }

    .message {
        /* border: 1px solid red; */
       position: relative;
       left: 0;
       width: 100%;
       height: 150px;
       margin-top: 70px;
       overflow: hidden;
       box-shadow: 0px 4px 10px rgba(152, 151, 151, .3);
    }

    .message img {
        display: none;
    }

    #showMassage {
        margin-top: 15px;
    }

}

@media (max-width:1020px) {

    .btn {
        padding: 1.375rem 8.4rem;
    }

    #showMassage {
        margin-top: 15px;
    }

}

@media (max-width:980px) {

    .btn {
        padding: 1.375rem 7.5rem;
    }
    
}

@media (max-width:885px) {

    .btn {
        padding: 1.375rem 6.6rem;
    }

}

@media (max-width:805px) {

    .btn {
        padding: 1.375rem 6rem;
    }

    .app__text>textarea {
        /* border: 1px solid red; */
        background-color: transparent;
        margin: 0 1rem;
        /*
        con esta propiedad quito el halo cuando el  text area esta activa 
         */
    }

}

@media (max-width:750px) {

    .btn {
        padding: 1.375rem 5rem;
    }

    .app__text>textarea {
        /* border: 1px solid red; */
        background-color: transparent;
        margin: 5px 8px;
        width: 95%;
        /*
        con esta propiedad quito el halo cuando el  text area esta activa 
         */
    }

}

@media (max-width:685px) {

    .btn {
        padding: 1.375rem 4.5rem;
    }   

}

@media (max-width:620px) {

    .btn__container {
        display: grid;
        justify-content:center;
    }   

    .btn {
        padding: 1.375rem 9rem;
        margin: 15px 0;
    } 

    .message {
        width: 90%;
        padding: 3%;
        margin: 20px auto;
     }

}

@media (max-width:580px) {

    .app__buttons {
        height: 500px;
 
    }

    .message {
        width: 90%;
        padding: 3%;
        margin: 20px auto;
     }

}

@media (max-width:557px) {

    .btn {
        padding: 1.375rem 6rem;
        margin: 15px 0;
    } 

    .message {
        width: 90%;
        padding: 3%;
        margin: 20px auto;
     }

}

@media (max-width:414px) {

    .btn {
        padding: 1.375rem 5rem;
        margin: 15px 0;
    } 

    .info__imgp{
       display: flex;
    }

    .message {
        width: 90%;
        padding: 3%;
        margin: 20px auto;
     }
     
}

@media (max-width:408px) {

    .btn {
        padding: 1.375rem 5rem;
        margin: 15px 0;
    } 

    .info__imgp{
       display: flex;
    }

    .message {
        width: 90%;
        padding: 3%;
        margin: 20px auto;
     }
}

@media (max-width:375px) {
    .btn {
        padding: 1.375rem 4rem;
        margin: 15px 0;
    } 

    .message {
        width: 90%;
        padding: 3%;
        margin: 20px auto;
     }

}

@media (max-width:324px) {

    .app__buttons {
        height: 500px;
    }

    .btn {
        padding: 1.375rem 4rem;
        margin: 15px 0;
    } 

    .message {
        width: 100%;    
        padding: 3%;
        margin: 20px auto;
     }

     .info__imgp {
        display: flex;
     }
}