/* General / Desktop */
body {
    background-color: var(--azulClaro);
    font-family: 'Roboto', sans-serif;
}

:root {
    --azulClaro:#F3F5FC;
    --azulDark:#0A3871;
    --azulClear:#D8DFE8;
    --textArea:#FFFFFF;
    --grayColor: #495057;
    --grayBold: #343A40;
    --roboto:'Roboto', sans-serif;
}



/* contenedor general de la app */
.app {
    /* border: 1px solid black; */
    width: 85%;
    height: 56.25rem;
    margin: 0 auto;
}



/* Logo Alura */
.app__img {
    margin: 2.5rem 0 0 2.5rem;
} 



/* contenedor de las funciones de la app */
.app__text {
    /* border: 1px solid black; */
    width: 85%;
    height: 48rem;
    margin: 0 auto;
    position: relative;
}

.app__text>textarea {
    background-color: transparent;
    margin: 4rem 0 5rem 2.5rem;
    border-style: none;
    resize: none;
    font-family: var(--roboto);
    font-size: 20px;
    color: var(--azulDark);
    outline: none;
    /*
    con esta propiedad quito el halo cuando el  text area esta activa 
     */
}

.app__text>textarea::placeholder {
    color: var(--azulDark);
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 1.875rem;
}



/* Contenedor para botones y Mensaje encriptado */
.app__buttons {
    /* border: 1px solid black; */
    width: 45%;
    height: 8rem;
    margin-left: 2.5rem;
    color: var(--grayColor);
    font-family: var(--roboto);
}

.app__buttons p{
    display: inline-block;
    margin-left: 5px;
}



/* Botones */
.btn {
    padding: 1.375rem 3.75rem;
    border-radius: 30px;
    font-size: large;
    outline: none;
    cursor: pointer;
    transition: ease-in .2s;
}

.btn:hover {
    opacity: .9;
}

.btn:active {
    opacity: .7;
}

.encriptar {
    background-color: var(--azulDark);
    color:var(--textArea);
    border: 0;
}

.desencriptar {
    background-color: var(--azulClear);
    color: var(--azulDark);
    border: 1px solid var(--azulDark);;
    margin-left: .9375rem;
}



/* Mensaje encriptado */
.message {
    display: grid;
    align-content: center;
    justify-items: center;

    text-align: center;
    background-color: var(--textArea);
    width: 25%;
    height: 47.5rem;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 80%;
    overflow: hidden;

    box-shadow: 0px 4px 10px rgba(152, 151, 151, .3);
}

.message img {
    width: 18.75rem;
    height: 18.75rem;
    margin: 0 auto;
    object-fit: contain;
    overflow: hidden;
    /* border: 1px solid black; */
}

.message button {
    margin-top: 40px;
}

.showMassage {
    background-color: transparent;
    margin: 0 auto;
    border-style: none;
    border: 1px solid black;
    resize: none;
    text-align: center;
    font-family: var(--roboto);
    font-size: 20px;
    color: gray;
    outline: none;
    /*
    con esta propiedad quito el halo cuando el  text area esta activa 
     */
}






