/* General / Desktop */
body {
    background-color: var(--azulClaro);
    font-family: 'Roboto', sans-serif;
}

:root {
    --azulClaro:#F3F5FC;
    --azulDark:#0A3871;
    --azulClear:#D8DFE8;
    --textArea:#FFFFFF;
    --grayColor: #495057;
    --grayBold: #343A40;
    --roboto:'Roboto', sans-serif;
}



/* contenedor general de la app */
.app {
    /* border: 1px solid black; */
    width: 85%;
    height: 56.25rem;
    margin: 0 auto;
}



/* Logo Alura */
.app__img {
    margin: 2.5rem 0 0 2.5rem;
} 



/* contenedor de las funciones de la app */
.app__text {
    /* border: 1px solid black; */
    width: 85%;
    height: 48rem;
    margin: 0 auto;
    position: relative;
}

.app__text>textarea {
    background-color: transparent;
    margin: 4rem 0 5rem 2.5rem;
    border-style: none;
    resize: none;
    font-family: var(--roboto);
    font-size: 20px;
    color: var(--azulDark);
    outline: none;
    /*
    con esta propiedad quito el halo cuando el  text area esta activa 
     */
}

.app__text>textarea::placeholder {
    color: var(--azulDark);
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 1.875rem;
}



/* Contenedor para botones y Mensaje encriptado */
.app__buttons {
    /* border: 1px solid black; */
    width: 45%;
    height: 8rem;
    margin-left: 2.5rem;
    color: var(--grayColor);
    font-family: var(--roboto);
    
}

.app__buttons p{
    display: inline-block;
    margin-left: 5px;
}



/* Botones */
.btn {
    padding: 1.375rem 3.75rem;
    border-radius: 30px;
    font-size: large;
    outline: none;
    cursor: pointer;
    transition: ease-in .2s;
}

.btn:hover {
    opacity: .9;
}

.btn:active {
    opacity: .7;
}

.encriptar {
    background-color: var(--azulDark);
    color:var(--textArea);
    border: 0;
}

.desencriptar {
    background-color: var(--azulClear);
    color: var(--azulDark);
    border: 1px solid var(--azulDark);;
    margin-left: .9375rem;
}



/* Mensaje encriptado */
.message {
    display: grid;
    align-content: center;
    justify-items: center;

    text-align: center;
    background-color: var(--textArea);
    width: 25%;
    height: 47.5rem;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 80%;
    overflow: hidden;

    box-shadow: 0px 4px 10px rgba(152, 151, 151, .3);
}

.message img {
    width: 18.75rem;
    height: 18.75rem;
    margin: 0 auto;
    object-fit: contain;
    overflow: hidden;
    /* border: 1px solid black; */
}

.message button {
    margin-top: 40px;
}


/* responsive */
/* 1600px */
@media (max-width:1658px) {

    .message {
        width: 28%;
    }

}

@media (max-width:1421px) {

    .message {
        width: 32%;
    }

}

@media (max-width:1258px) {

    .message {
        width: 36%;
    }

}

@media (max-width:1123px) {

    .message {
        width: 38%;
    }

}

@media (max-width:1354px) {

    .btn__container {
        display: flex ;
    }

    /* .message img {
        display: none;
    } */
}

@media (max-width:1085px) {
    .app__text {
        
        /* display: flex;
        flex-direction: column; */
        
        height: 1000px;
        /* border: 1px solid red; */
    }
    
    .app__buttons {
        /* border: 1px solid red; */
        width: 100%;
        height: 400px;
        margin: 0 auto;
        color: var(--grayColor);
        font-family: var(--roboto);
        
    }
    
    .btn__container {
        /* margin: 0 100px; */
        display: flex;
        justify-content: space-evenly;
    }

    .btn {
        padding: 1.375rem 9rem;
       
    }

    .message {
       position: relative;
       left: 0;
       /* border: 1px solid red; */
       width: 100%;
       height: 150px;
       margin-top: 70px;
       overflow: hidden;
       box-shadow: 0px 4px 10px rgba(152, 151, 151, .3);
    }

    .message img {
        display: none;
    }
}


@media (max-width:1020px) {
    .btn {
        padding: 1.375rem 8.4rem;
    }
}

@media (max-width:980px) {
    .btn {
        padding: 1.375rem 7.5rem;
    }
    
}

@media (max-width:885px) {
    .btn {
        padding: 1.375rem 6.6rem;
    }
}

@media (max-width:805px) {
    .btn {
        padding: 1.375rem 6rem;
    }

    .app__text>textarea {
        background-color: transparent;
        /* border: 1px solid red; */
        margin: 0 1rem;
        /*
        con esta propiedad quito el halo cuando el  text area esta activa 
         */
    }
}

@media (max-width:750px) {
    .btn {
        padding: 1.375rem 5rem;
    }

    .app__text>textarea {
        background-color: transparent;
        /* border: 1px solid red; */
        margin: 5px 8px;
        width: 95%;
        /*
        con esta propiedad quito el halo cuando el  text area esta activa 
         */
    }
}

@media (max-width:685px) {
    .btn {
        padding: 1.375rem 4.5rem;
    }   
}

@media (max-width:620px) {
      
}

@media (max-width:620px) {

    .btn__container {
        display: grid;
        
        justify-content:center;
       
    }   

    .btn {
        padding: 1.375rem 9rem;
        margin: 15px 0;
    } 

    .message {
        width: 90%;
        height: 150px;
        margin: 20px 20px;
        
     }
}

@media (max-width:580px) {
    .app__buttons {
        
        height: 500px;
        /* border:  1px solid purple; */
        
    }
}

@media (max-width:408px) {

    .btn {
        padding: 1.375rem 4rem;
        margin: 15px 0;
    } 

    .info__imgp{
       display: flex;
    }
    .message {
        width: 90%;
        height: 150px;
        margin: 0 auto;
        
     }
}



@media (max-width:324px) {
    .app__buttons {
        
        height: 500px;
        /* border:  1px solid purple; */
        
    }

    .btn {
        padding: 1.375rem 4rem;
        margin: 15px 0;
    } 

    .message {
        width: 90%;
        height: 150px;
        margin: 0 auto;

     }

}




